<h2>project manager</h2>
<nav>
  <a routerLink="/users" routerLinkActive="active" >Users</a>
  <a routerLink="/projects" routerLinkActive="active" >Project</a>
  <a routerLink="/tasks" routerLinkActive="active" >Task</a> 
  <a routerLink="/viewTasks" routerLinkActive="active" >View Task</a> 
</nav>
<router-outlet></router-outlet>

